.slider_container {
    width: 94%;
    height: auto; /* Allow height to adjust based on content */
    margin: 0 auto; /* Center the slider */
}

.slider_slide {
    width: 100%; /* Make the slide take up full width of the container */
    height: 100%;
    user-select: none;
    position: relative;
}

.slider_slide > img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.slider_slide img {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.slider_slide:hover img {
    filter: brightness(0.7); /* Darkens the image */
    transform: scale(1.05); /* Optional: Slightly scale the image for a zoom effect */
}