.btnAround {
  padding: 20px 40px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer; }
  .btnAround:after, .btnAround:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #000;
    transition: transform .2s; }
    .btnAround:after {
    transform: translate(3px, 3px); }
    .btnAround:before {
    transform: translate(-3px, -3px); }
    .btnAround:active, .btnAround:active:before {
    transform: translate(0); }
