.inputs{
    width: 30%;
    height: 1vh;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2vh;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    color:rgb(146, 146, 146) ;
    border: 2px solid rgb(146, 146, 146);
    
}
.inputs:focus{
    transition: all 0.3s ease-in-out;
    outline: none;
    color: black;
    border: 2px solid black;
    box-shadow: 0px 0px 10px 10px #90b1f8a2;
}