@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
:root{
    font-family: 'Montserrat', sans-serif;
    font-family: "Moderustic", sans-serif;
    font-family: "Rubik Glitch", system-ui;
}