.container_header{
  background-color: #90b1f8a2;;
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 3%;
}
.header{
    width: 80%;
height: 75px;
display: flex;
align-items: center;
justify-content: space-between;
}
.header_button{
    max-width: 200px;
    width: 100%;
    height: auto;
    background: none;
    border: none;
    font-size: 2vh;
    font-weight: 600;
    position: relative;
    display: flex;
    border-bottom: 2px solid black;
    align-items: center;
    justify-content: center;
text-decoration: none;
color: black;
font-family: "Moderustic", sans-serif;
}
.altLinkis{
  display: flex;
  height: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header_button>span{
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.header_button>span::after{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      90deg,
      transparent,
      #a4bef79f,
      transparent
  );
  opacity: 0;
  transition: opacity 0.5s ease;
}


.header_button>span:hover::after{
  animation: shine 1.5s ease-in-out;
}
@keyframes shine {
  0% {
      left: -100%;
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      left: 100%;
      opacity: 0;
  }
}
.linkisHead{
   display: flex;
   width: 40%;
   justify-content: space-between;
   align-items: end;
}
.link{
    max-width: 200px;
    width: 30%;
    height: 50px;
    text-decoration: none;
    display: flex;
    
}
.logo{
    width: 100px !important;
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-direction: row;
}
.logo>h3{
    text-align: end;
    font-family: "K2D", sans-serif;
    font-size: 3vh;
}

@media only screen and (max-width: 1150px) {
.container_header{
    display: none;
}
.headerOpen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 65%;
    z-index: 12;
  background-color: #ffffff;
    animation: headerAppear 0.4s ease-in-out forwards;
    height: 101vh;
  }
  .logocon{
    background-color: #7b81d2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0 ;
    height: 20% ;
    border-bottom: 2px black dashed;
  }
  .logoMb{
    width: 100px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logoMb>h3{
    text-align: center;
    font-family: "K2D"; 
}
.header{
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
}

  .headerClosed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    z-index: 12;
    backdrop-filter: blur(10px);
    background-color: #dadada81;
    animation: headerDisappear 0.5s ease-in-out forwards;
  }
.link{
  width: 100%;
  height: 50px;
  max-width: unset;
  display: flex;
  align-items: center;
  justify-content: center;
}
}
@keyframes headerAppear {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes headerDisappear {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-100%);
    }
  }