:root {
    --first-color: hsla(295, 76%, 41%, 0.733);
    --white-color: #fff;
    --black-color: #000;
   
    --normal-font-size: .938rem;
    --tiny-font-size: .593rem;
  
  }
  $text-color: #FFFFFF;
  $radio-btn-border: #FFFFFF;
  $radio-btn-circle: #FFFFFF;
  $radio-btn-width:25px;
  $radio-btn-height:25px;
  
  // mixin for radio button
  @mixin radio-wh($w:$radio-btn-width, $h:$radio-btn-height){
    width:$w;
    height:$h;
  }
  @media screen and (min-width: 968px) {
    :root {
      --normal-font-size: 1rem;
    }
  }
  
.formContainer, .formContainerAuth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(45deg,#96A3E8,#5a628d,#6e799e,#4b4a4a);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	transform: translate3d(0, 0, 0);

 }
 .formContainer>h1, .formContainerAuth>h1{
        font-family: "Moderustic", sans-serif;
        font-weight: 600;
        font-style: normal;
 }
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.form{
    display: grid;
    place-items: center;
    width: 40vh;
  row-gap: 1.5rem;
  padding: 30px;
  padding-right: 45px;
  background-color: #00000041;
  border: 1px solid black;
  border-radius: 20px;
}
.form>h1{
  color: none;
  font-family: 'Montserrat', sans-serif;
  -webkit-text-stroke: 1px solid white ;
}
.inputFild, 
.labelForm{
  border: 0;
  padding-left: 15px;
  outline: none;
  font-size: var(--normal-font-size);
  font-family: "Moderustic", sans-serif;
  border-radius: 10px;
}

.formBox {
    width: 30vh;
    height: 6vh;
    position: relative;
  }
  .FormShadows {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    background-color: black;
    border-radius: 10px;
  }
  .form>h1{
    font-family: "Varela Round", sans-serif;
    color: #00000000;
    padding-left: 15px;
    -webkit-text-stroke: 1px #ffffff;
  }
  .inputFild {
    position: absolute;
    border: 2.5px solid var(--black-color);
    background-color: var(--white-color);
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: transform .3s;
  }
  .ARG{
    font-family: "Varela Round", sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 1.7vh;
  }
  .inputFild::placeholder {
    transition: opacity .5s;
  }
  
  .labelForm {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 20px;
    font-size: var(--tiny-font-size);
    font-weight: 600;
    transition: .2s;
    pointer-events: none;
    opacity: 0;
  }
  
  .butnSub {
    border-radius: 10px;
    background-color: var(--black-color);
  }
  
  .sub {
    border-radius: 10px;
    padding: .875rem 1.5rem;
    color: var(--white-color);
    font-family: "Moderustic", sans-serif;
    background-color: var(--first-color);
    cursor: pointer;
    transition: transform .3s;
  }
  
  .sub:hover {
    transform: translate(-6px, -6px);
  }
  
  .inputFild:focus::placeholder {
    opacity: 0;
    transition: .3s;
  }
  
  .inputFild:focus, 
  .inputFild:not(:placeholder-shown).inputFild:not(:focus) {
    transform: translate(-8px, -8px);
    animation: input-animation .5s;
  }
  
  .inputFild:focus + .labelForm,
  .inputFild:not(:placeholder-shown).inputFild:not(:focus) +
    .labelForm {
    opacity: 1;
    top: 0px;
    left: 2px;
    transition: .3s;
  }
  .rad{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Moderustic", sans-serif
  }
  .rad1{
    margin-left:20px;
  }
  .rad1[type="radio"]:checked + label::before{
    animation: flipRadioCir .3s linear forwards;
}
.rad1[type='radio']{
  opacity:0;
}
.radlab{
  color: #fff;
  margin-right: 20px;
  position: relative;
  left:25px;
  &:before{
    content:'';
    position: absolute;
    top: 0px;
    left: -40px;
    @include radio-wh();
    border-radius:50%;
    border:2px solid $radio-btn-border;
  }
  &:after{
    content:'';
    position:absolute;
    top: 5px;
    left: -35px;
    @include radio-wh(15px, 15px);
    border-radius:50%;
    background:$radio-btn-circle;
    transition: all;
    opacity:0;
  }
}
.backBtnlink{
  position: absolute;
  top:0;
  left: 0;
  margin: 30px;
}
.backBtnlink>.butnSub>.sub{
  background-color: #FFFFFF;
  color: #000;
}
.RegAuth{
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-left:10px;
  transition: all 0.5s ease-in-out;
  
}
.RegAuth:hover{
  color: #eb9534;
  scale: 1.1;
  font-weight: 1000;
}
.error{
  position: absolute ;
  top: -105%;
  font-family: 'Montserrat', sans-serif;
  background-color: #dadada;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin-left: -7px;
  padding-left: 10px;
width: 100%;
  z-index: 100;
}
@keyframes flipRadioCir{
  from{
    transform: rotateY(0deg);
  } 
  to{
    background:white;
    transform: rotateY(180deg);
  }
}


  @keyframes input-animation {
    0% {
      transform: translate(0);
    }
    40% {
      transform: translate(-9px, -9px);
    }
    60% {
      transform: translate(-7px, -7px);
    }
  }
@media (max-width:900px) {
      .form{
        width: 80%;
        padding-right: 30px;
      }
      .formBox{
        width: 70%;
        height: 50px;
        margin-right: 15px;
      }
      .form> h1{
        padding-left: unset;
      }
      .RegAuth{
        padding-left: unset;
      }
      .formContainer, .formContainerAuth{
        height: auto;
     }
     .backBtnlink{
      left: 5%;
    }
}
@media (max-width:600px) {
  .formContainer{
    height: 130vh;
 }
 .formContainerAuth{
  height: 100vh;
}
.error{
  top: -150%;
}
.rad{
  flex-direction: column;
}
 .backBtnlink{
  position: relative;
  top:-15px;
  left:0;
}
}

