.header{
    width: 95%;
    height: 10vh;
    background-color: #90b1f8a2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Moderustic", sans-serif;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-bottom: 2px dashed black;
}
h1{
    font-size: 3vh;
}
.btn{
    outline: none;
    border: none;
    background: none;
    font-family: "Moderustic", sans-serif;
    font-size: 2vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
.infos{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    border-top: 2px dashed black;
}
.result{
    width: 50%;
    min-height: 89.5vh;
    font-family: "Moderustic", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-right: 2px dashed black;
}
.mytest{
    min-height: 89.5vh;
    width: 50%;
    font-family: "Moderustic", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.sell{
    font-family: 'Montserrat', sans-serif;
    border: 2px solid black;
    width: 80%;
    min-height: 6vh;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
h2{
    margin: 10px;
}
.userInfo>h2{
    font-family: 'Montserrat', sans-serif;
}
.userData{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Moderustic", sans-serif;
}
.userData>button{
    border:2px solid black;
    border-radius:10px;
    outline: none;
    height: 4vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.editForm{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28vh;
    font-family: "Moderustic", sans-serif;
}
.editForm>input{
    font-family: "Moderustic", sans-serif;
    font-size: 15px;
    border:2px solid black;
    padding: 5px;
    border-radius: 10px;
    height: 3vh;
    margin: 3px;
}
.editForm>button{
    border:2px solid black;
    border-radius:10px;
    outline: none;
    height: 4vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin: 5px;
}